@use 'node_modules/utopia-core-scss/src/utopia' as utopia;

/*
  @link https://utopia.fyi/space/calculator?c=360,14,1.2,2560,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
*/

:root {
  @include utopia.generateSpaceScale((
      "minWidth": 360,
      "maxWidth": 2560,
      "minSize": 14,
      "maxSize": 20,
      "positiveSteps": (1.5, 2, 3, 4, 6),
      "negativeSteps": (0.75, 0.5, 0.25),
      "customSizes": ("s-l"),
      "relativeTo": "viewport-width",
      "prefix": "space-",
  ));
}