@use 'node_modules/utopia-core-scss/src/utopia' as utopia;

:root {
  @include utopia.generateTypeScale((
      "minWidth": 320,
      "maxWidth": 2560,
      "minFontSize": 14,
      "maxFontSize": 20,
      "minTypeScale": 1.2,
      "maxTypeScale": 1.33,
      "positiveSteps": 5,
      "negativeSteps": 2,
      "relativeTo": "viewport",
      "prefix": "step-",
  ));
}

body {
  font-family: -apple-system, "system-ui", Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: var(--step-0);
}

h1 {
  font-size: var(--step-5);
  font-weight: 900;
}

h2 {
  font-size: var(--step-4);
  font-weight: 700;
}

h3 {
  font-size: var(--step-3);
  font-weight: 600;
}

h4 {
  font-size: var(--step-2);
  font-weight: 500;
}

h5 {
  font-size: var(--step-1);
  font-weight: 500;
}

h6 {
  font-weight: 500;
}