{% extends 'views/layouts/base.twig' %}

{% block content %}
  <h1>Hello world!</h1>

  <p>ACF exists: {{ post.acf ? 'yes' : 'no' }}</p>
  <p>SEO Title: {{ post.acf.seo_metadata.title ?? 'not found' }}</p>
{% endblock %}