<section class='two-column content-{{ alignment }}'>

  {% include 'views/partials/components/media-selector.twig' with { media: media } %}

  <div class='content'>

    <h2>{{ heading }}</h2>

    {{ content }}

    {% if buttons %}
      {% for button in buttons %}
        {% include 'views/partials/components/button.twig' with {
          label: button.title,
          url: button.url,
          target: button.target,
          variant: loop.first ? 'primary' : 'outline',
        } %}
      {% endfor %}
    {% endif %}

  </div>

</section>