<section class='two-column content-{{ alignment }}'>

  {% include 'views/partials/components/media-selector.twig' with { media: media } %}

  <div class='content'>

    <h2>{{ content.heading|wp_kses_post }}</h2>

    {{ content.content|wp_kses_post }}

    {% if content.buttons %}
      {% for btn in content.buttons %}
        {% include 'views/partials/components/button.twig' with {
          label: btn.button.title,
          url: btn.button.url,
          target: btn.button.target,
          variant: loop.first ? 'primary' : 'outline',
        } %}
      {% endfor %}
    {% endif %}

  </div>

</section>